{% extends 'base.html' %}


{% block title %}
About US
{% endblock title %}

{% block body %}
<div class = 'container my-3' >

<main role="main" class="text-center my-3">
            <h2 class="cover-heading">💥My Team💥</h2>

</main>
<div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Akshay<span class="text-muted"></span></h2>
                <p class="lead"><b>Akshay has a good command over ball control and skills,has good vision of the game and plays as an attacking midfielder</b></p></div>
            <div class="col-md-5 my-4">
                <img src="/static/akshay.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

<div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Musaab<span class="text-muted"></span></h2>
                <p class="lead"><b>Musaab is the Engine of the team,a man tough to pass through,has good command on his skills and tactics,knows where the ball is,he plays as a Defensive Midfielder </b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/musi.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

<div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Surajj<span class="text-muted"></span></h2>
                <p class="lead"><b>Surajj has good command over his sprint and has good stamina,he has the capability to pass through defenders through his sprints,he plays as an defensive back </b></p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/suri.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

<div class="row featurette mx-3">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Yash<span class="text-muted"></span></h2>
                <p class="lead"><b>Yash has a good command on his finishing at the roof's of the net,has a good strong right foot,he plays as an Striker</b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/yash.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

<div class="row featurette mx-3">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Meet<span class="text-muted"></span></h2>
                <p class="lead"><b>Meet has a good command over his reflexes,and has a good vision of the game,he plays as a Goal Keeper</b></p>
            </div>
            <div class="col-md-5 my-2">
                <img src="/static/meetwa.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

<div class="row featurette mx-3">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Nikhil<span class="text-muted"></span></h2>
                <p class="lead"><b>Nikhil Yadav is a perfect striker of the ball,has a very good finshing skill,he plays for the hyderbad football league,he plays as a Striker</b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/nikhil.jfif" width="300" height="300" class="d-block w-100" alt="...">
            </div>
</div>

</div>
{% endblock body %}